{% include "header.html" %}

<div class="content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center my-5">
                <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image"
                     style="max-width: 280px; max-height: 500px; border-radius: 10px;">
                <div class="col-md-8 mx-auto">
                    <a class="btn btn-lg btn-dark rounded-0 mt-4 py-3 border border-light w-100 px-2"
                       style="background-color: #000 !important;" href="{{ url_for('home') }}">Start Over
                    </a>
                </div>
            </div>

            <div class="col-md-8 text-white">
                <h1 class="display-6 fw-bold text-white mb-5">Top 10 Predominant Colors:</h1>
                <div class="row">
                {% for color in colors: %}
                    <div class="col-md-3">
                        <div class="card w-100 mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3" style="background-color: {{color}} !important;"></div>
                            <div class="card-body text-center px-2 py-1">
                                <p style="margin: 0px;">{{ color }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}